---
import "../../css/grobal.scss"
import Layout from "../../layouts/Layout.astro";
---
<Layout title="1989.">
  <main>
    <div class="category-block">
      <!-- <a href="/discord/discord_labo" class="category-block__item">discord-bot 導入実績</a> -->
      <a href="/discord/discord_labo" class="category-block__item">discord labo</a>
    </div>
  </main>
</Layout>