---
import "../css/grobal.scss"
import Layout from "../layouts/Layout.astro";

---

<Layout title="1989.">
  <main>
    <div class="category-block">
      <a href="discord" class="category-block__item">discord labo</a>
    </div>
  </main>
</Layout>

<style>
</style>

