main {
  width: 100%;
  height: calc(100vh - 80px);

  & .wrapper {
    display: flex;

    /***********************************************
  コンテンツ一覧リスト
  ************************************************/
    & .contents-block {
      position: sticky;
      overflow-y: scroll;
      width: 20%;
      height: 90vh;
      margin-top: 30px;
      // background-color: skyblue;

      &::-webkit-scrollbar {
        background: #555;
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #111;
      }

      & .contents-block__lists {
        margin-top: 20px;
        margin-left: 20px;
        list-style: none;


        & .contents-block__list {
          width: 100%;
          margin-bottom: 25px;
          // border-radius: 5px;

          & .contents-block__category {
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px;
            text-decoration: none;
            color: #111;


            &:hover {
              color: #fff;
              background-color: rgb(78, 128, 239);
            }
          }

          & .focus {
            display: block;
            width: 100%;
            height: 100%;
            // padding: 5px;
            text-decoration: none;
            font-weight: 900;
            background-color: rgb(78, 128, 239, 0.2);
            // border-radius: 5px;

          }

          & .contents-block__posttitle {
            display: block;
            font-size: .8em;
            width: 100%;
            height: 100%;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 20px;
            text-decoration: none;
            color: #111;

            &::before {
              content: "- ";
            }

            &:hover {
              color: #fff;
              background-color: rgb(78, 128, 239);
            }
          }
        }

      }
    }

    /***********************************************
  投稿記事
  ************************************************/
    & .discord-block {
      width: 80%;
      overflow-y: scroll;
      height: 90vh;
      margin-top: 30px;
      margin-bottom: 100px;
      margin-left: 20px;

      & .discord-practice-text {
        font-size: 1.8em;
        font-weight: 700;
        margin-bottom: 40px;
        margin-left: 10px;
      }

      &::-webkit-scrollbar {
        background: #555;
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #111;
      }

      & .discord-labotitle {
        font-size: 5em;
        margin-bottom: 10px;
        font-weight: 900;
      }

      & .discord__labocategory {
        font-size: 1.3em;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        font-weight: 700;
      }

      & .discord-posts {
        display: block;
        width: 100%;

        & .post {
          display: flex;
          margin-bottom: 5px;
          text-decoration: none;
          color: #111;
          width: 100%;

          &:hover {
            opacity: .7;
          }

          & .post-img {
            display: block;
            width: 35%;
            object-fit: cover;
            // border-radius: 10px;
            // box-shadow: 2px 2px 4px gray;
          }

          & .post__detail {
            display: block;
            width: 60%;
            margin-top: 5px;
            margin-right: 20px;
            margin-left: 20px;

            // & .post__category {
            //   display: inline-block;
            //   font-size: 1em;
            //   margin-bottom: 5px;
            //   padding: 5px 10px;
            //   background-color: #222;
            //   color: #fff;
            //   border-radius: 4px;
            // }

            & .post__title {
              font-size: 1.8em;
              margin-bottom: 10px;
              font-weight: 700;
            }

            & .post__time {
              display: flex;

              & .post__createtime {
                font-size: .8em;
                margin-bottom: 20px;
                margin-right: 20px;
                margin-left: 5px;
              }

              & .post__updatetime {
                font-size: .8em;
                margin-bottom: 15px;
                margin-right: 20px;
              }
            }


            & .post__text {
              font-size: 1em;
              line-height: 1.5em;
            }


          }

        }
      }
    }

    .survice-mask {
      position: absolute;
      background-color: #f76e5e;
      visibility: hidden;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }


}

@media (max-width: 767px) {
  main {
    overflow-x: hidden;

    & .wrapper {
      display: block;
      width: 100%;

      .contents-block {
        display: none;
      }

      .discord-block {
        width: 100%;
        margin-top: 0;
        margin-left: 0;

        & .discord-labotitle {
          font-size: 4em;
          margin-top: 40px;
          margin-bottom: 50px;
          font-weight: 900;
          text-align: center;
        }

        & .discord__labocategory {
          font-size: 1.3em;
          margin-top: 10px;
          margin-bottom: 20px;
          margin-left: 10px;
          font-weight: 700;
        }

        & .discord-posts {
          width: 100%;

          & .post {
            display: block;
            margin: 0 auto;
            width: 93%;
            margin-bottom: 30px;
            border: 1px solid #999;
            border-radius: 10px;
            text-align: center;
            box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.5);

            & .post-img {
              width: 100%;
              height: 20vh;
              margin: 0 auto;
              border-radius: 10px 10px 0 0;
            }

            & .post__detail {
              width: 100%;
              display: block;
              margin: 0;

              & .post__innerblock {
                width: 90%;
                margin: 0 auto;
                padding: 20px 0;
                text-align: left;

                & .post__title {
                  display: inline-block;
                  font-size: 1.4em;
                  font-weight: 700;
                  width: 90%;
                }

                & .post__time {
                  display: flex;
                  margin: 0 auto;

                  & .post__createtime {
                    font-size: .6em;
                    margin-bottom: 10px;
                    margin-right: 20px;
                    margin-left: 2px;
                  }

                  & .post__updatetime {
                    font-size: .6em;
                    margin-bottom: 10px;
                    margin-right: 20px;
                  }
                }

                & .post__category {
                  font-size: .8em;
                  font-weight: 700;
                  display: inline-block;
                  background-color: #e0e0e0;
                  padding: 4px 8px;
                  border-radius: 10px;
                }
              }


            }
          }
        }
      }

    }
  }
}